{% extends 'oscar/dashboard/users/detail.html' %}

{% load currency_filters i18n %}

{% block user_general_info %}
    <div class="">
        <div class="table-header">
            <h2>{% trans "General" %}</h2>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ customer.get_full_name|default:"-" }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Active" %}?</th>
                <td>
                    {{ customer.is_active|yesno:_("Yes,No") }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Superuser" %}?</th>
                <td>{{ customer.is_superuser|yesno:_("True,False") }}</td>
            </tr>
            <tr>
                <th>{% trans "Staff" %}?</th>
                <td>{{ customer.is_staff|yesno:_("True,False") }}</td>
            </tr>
            <tr>
                <th>{% trans "Last login" %}</th>
                <td>{{ customer.last_login }}</td>
            </tr>
            <tr>
                <th>{% trans "Date joined" %}</th>
                <td>{{ customer.date_joined }}</td>
            </tr>
            {% with record=customer.userrecord %}
                <tr>
                    <th>{% trans "Products viewed" %}</th>
                    <td>{{ record.num_product_views|default:0 }}</td>
                </tr>
                <tr>
                    <th>{% trans "Number of orders" %}</th>
                    <td>{{ record.num_orders|default:0 }}</td>
                </tr>
                <tr>
                    <th>{% trans "Number of ordered items" %}</th>
                    <td>{{ record.num_order_items|default:0 }}</td>
                </tr>
                <tr>
                    <th>{% trans "Total spent" %}</th>
                    <td>{{ record.total_spent|default:0|currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Reviews written" %}</th>
                    <td>{{ customer.reviews.count }}</td>
                </tr>
                <tr>
                    <th>{% trans "Actions" %}</th>
                    <td>
                    {% block user_detail_actions %}
                        <form id="password_reset_form" action="{% url 'dashboard:user-password-reset' pk=customer.id %}" method="post" class="form-horizontal">
                            {% csrf_token %}
                            {% include 'partials/form_fields.html' %}
                            <button type="submit" class="btn btn-primary btn-large">{% trans 'Send password reset email' %}</button>
                        </form>
                    {% endblock user_detail_actions %}
                    </td>
                </tr>
            {% endwith %}
        </table>
    </div>
{% endblock %}
