{% extends 'oscar/dashboard/users/index.html' %}

{% load dashboard_tags %}
{% load i18n %}

{% block user_list_row %}
    <td><input type="checkbox" name="selected_user" class="selected_user" value="{{ user.id }}"/></td>
    <td><a href="{% url 'dashboard:user-detail' pk=user.id %}">{{ user.email }}</a></td>
    <td>{{ user.get_full_name|default:"-" }}</td>
    <td>{{ user.is_active|yesno:_("True,False") }}</td>
    <td>{{ user.is_staff|yesno:_("True,False") }}</td>
    <td>{{ user.date_joined|date:"d/m/y H:i" }}</td>
    <td>{% num_orders user %}</td>
    <td>
        {% block user_list_row_actions %}
            <a href="{% url 'dashboard:user-detail' pk=user.id %}" class="btn btn-info">{% trans "View" %}</a>
        {% endblock user_list_row_actions %}
    </td>
{% endblock %}
